{erl_opts, [
%%    {i, "./_build/default/lib/slot_lib/include/proto"},
    {i, "./_build/default/plugins/gpb/include"}

]}.

{plugins, [
    rebar3_gpb_plugin,
    {pb_msgcodegen, {git, "https://github.com/huang2287832/pb_msgcodegen.git", {branch, "master"}}}
]}.

{gpb_opts, [
    {i, "priv/proto"},
    {module_name_suffix, "_pb"},
    {o_erl, "src/proto"},
    {o_hrl, "include"},
    {strings_as_binaries, true},
    type_specs]}.

{provider_hooks,
    [{pre, [
        {compile, {protobuf, compile}},
        {clean, {protobuf, clean}},
        {compile, pb_msgcodegen}
        ]}
    ]}.
{deps, []}.